{% extends 'main.html' %}
{% block content %}


{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}
<div class="container">
<h2>Create Event</h2>
<form method="POST">
    {% csrf_token %}
    
    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name" placeholder="Enter event name" required><br><br>
    
    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="Describe the event" required></textarea><br><br>
    
    <label for="date">Event Date:</label>
    <input type="date" id="date" name="date" required><br><br>

    <label for="submission_deadline">Submission Deadline:</label>
    <input type="date" id="submission_deadline" name="submission_deadline" required><br><br>

    <label for="event_type">Event Type:</label>
    <select id="event_type" name="event_type" required>
        <!-- <option value="" disabled selected>Select your role</option> -->
        <option value="individual">Individual</option>
        <option value="team">Team</option>
    </select><br><br>
    
    
    <button type="submit">Create Event</button>
</form>
</div>
{% endblock %}